.hms-color-light{
    color:#ff66d6;
}
.hms-color{
    color:#7f005d;
}

.hms-bg-normal {
    background-color: #7f005d;
    color:#ffff;
}

.hms-bg-dark,.hms-bg-dark:hover {
    background-color: #68004c;
    color:#ffff;
}

